@import '../imports/utils/client/colors';

@import '../imports/ui/app/app';
@import '../imports/ui/app/navbar/navbar';

@import '../imports/ui/welcome-page/welcome-page';
@import '../imports/ui/welcome-page/welcome-item/welcome-item';
@import '../imports/ui/welcome-page/welcome-menu/welcome-menu';

@import '../imports/ui/lesson-page/lesson-page';

@import '../imports/ui/home-page/home-page';
@import '../imports/ui/home-page/course-item/course-item';

@import '../imports/ui/course-page/course-page';
@import '../imports/ui/course-page/lesson-item/lesson-item';

@import '../imports/ui/feedback-page/feedback-page';

@import '../imports/ui/cards-list/cards-list';
@import '../imports/ui/cards-list/card/card';

@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

html,
body,
#app {
  margin: 0;
  font-size: 12px;
  @media (min-width: 800px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 18px;
  } // TODO: fix this
  overflow-x: hidden;
}

#app, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif !important;
}
