@import '../imports/utils/client/colors';

@import '../imports/ui/App/Navbar/Navbar';

@import '../imports/ui/WelcomePage/WelcomePage';
@import '../imports/ui/WelcomePage/WelcomeItem/WelcomeItem';
@import '../imports/ui/WelcomePage/WelcomeMenu/WelcomeMenu';

@import '../imports/ui/HomePage/HomePage';
@import '../imports/ui/HomePage/CourseItem/CourseItem';

@import '../imports/ui/CoursePage/CoursePage';

@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

html,
body,
#app {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
