.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 15px;
}

.content-card-img {
  height: 100px;
  width: 100px;
}

.content-card-text {
  font-size: 1.5em;
}
