.feedback-card-title {
  text-align: center;
}

.feedback-card-input {
  width: calc(100% - 30px);
}

.feedback-card-actions {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feedback-card-skip {
  font-size: 1.3em;
  margin-top: 5px;
  color: $white-4-color;
}
