.welcome-item {
  display: flex;
  flex-flow: column;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px 20px 20px;
  text-align: center;
  color: $white-1-color;
}

.welcome-item-title {
  font-size: 1.4em;
  line-height: 1.2;
}

.welcome-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  img {
    width: 100px;
    margin: 50px;
  }
}

#welcome-item-finish-btn {
  margin-top: 15px;
  font-size: 18px;
}
