.multiple-choice-card-content {
  color: black;

  &, .multiple-choice-card-radio {
    display: inline;
  }
}

.multiple-choice-card-option {
  display: flex !important;
  margin-bottom: 15px !important;
  label {
    flex: 1;
  }
}

.multiple-choice-card-options {
  flex: 1;
}

code span {
  position: relative !important; // for the code inside options
  display: inline !important;
  top: 0 !important;
  left: 0 !important;
}
