.navbar {
  background-color: $peter-river-color !important;
}

#navbar-feedback-button {
  float: right;
  height: 50px;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  line-height: 30px;
}

#app {
  padding-top: 50px; // We need to do this because the navbar is fixed
}
