.welcome-item {
  display: flex;
  flex-flow: column;
  flex: 0 0 100%;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: $clouds-color;
}

.welcome-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  img {
    height: 100px;
    width: 100px;
    margin: 25px;
  }
}
