.course-item {
  display: flex;
  flex: 0 0 100%;
  flex-flow: column;
  align-items: center;
  min-height: 500px;
  margin-bottom: 10px;
  border: 1px solid;
}

.course-item-name {
  font-size: 30px;
  margin-top: 30px;
  flex: 1;
}

.course-item-enter-button {
  margin: 30px !important;
  align-self: flex-end !important;
}
