#coursepage {
  display: flex;
  flex-direction: column;
  background-color: $white-1-color;
}

#coursepage-lessons-list {
  display: flex;
  flex-wrap: wrap;
}

.course-title {
  margin: 10px 10px 0;
  font-size: 20px;
  font-weight: bold;
}