._card { // not card because bootstrap-material-design already uses it
  position: absolute;
  top: 85px;
  display: flex;
  width: calc(100% - 30px);
  flex-flow: column;
  align-items: center;
  min-height: 450px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
