._card { // not card because bootstrap-material-design already uses it
  display: flex;
  flex: 0 0 100%;
  flex-flow: column;
  align-items: center;
  min-height: 450px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
