@import '../../../../../../../node_modules/codemirror/lib/codemirror';
@import './CharacterRow/CharacterRow';

.code-card-body {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.code-editor {
  .CodeMirror {
    height: 200px !important;
  }
}
.code-card-result {
  background-color: $white-1-color;
}
