@import './CharacterRow/CharacterRow';

.code-card-body {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.code-editor {
  flex: 1;
  width: 100% !important;
  .CodeMirror {
    height: initial !important;
  }
}
.code-card-result {
  background-color: $white-1-color;
}
