.character-row {

  .btn-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: auto;
  }
  button:focus, button:active {
    outline:0 !important;
  }
}
