$bubble-color: rgba(93, 93, 93, 0.5);

#welcome-menu {
  display: flex;
  height: 55px;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  a {
    text-decoration: none;
    color: black;
    font-size: 17px;
  }
}

.welcome-menu-item {
  flex: 0 0 33.33%;
  display: flex;
  justify-content: center;
}

.page-bubble {
  width: 10px;
  height: 10px;
  background-color: $bubble-color;
  display: inline-block;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

.page-bubble-active {
  @extend .page-bubble;
  background-color: darken($bubble-color, 50%);
}
