$white-1-color: rgb(236, 240, 241);
$white-2-color: rgb(189, 195, 199);
$white-3-color: rgb(149, 165, 166);
$white-4-color: rgb(127, 140, 141);

$blue-1-color: rgb(52, 152, 219);
$blue-2-color: rgb(41, 128, 185);
